@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 350px) and (max-width: 600px) {
  .menu {
    width: 100%;
    z-index: 1000;
    height: 100vh;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 18px 12px;
    display: none;

    animation-name: slideInFromBottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .work {
    display: block;
    top: 0;
  }

  .menu > .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .menu > .head > img:first-child {
    width: 258px;
  }

  .menu > .head > img:last-child {
    cursor: pointer;
  }

  .menu > nav > ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .menu > nav > ul > li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 10px;
  }

  .menu > nav > ul > li > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  header {
    background-color: black;
  }

  header > p {
    text-align: center;
    color: white;
    background-color: #ec6566;
    padding: 3px 24px;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }

  header > div {
    padding: 28px 24px;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  header > div > img:first-child {
    width: 258px;
  }

  header > div > img:last-child {
    width: 24px;
    cursor: pointer;
  }

  main > .intro {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
  }

  main > .intro > h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(96.74deg, #878787 0%, #fefefe 100%);
  }

  main > .intro > p {
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(96.74deg, #878787 0%, #fefefe 100%);
  }

  main > .intro > .rating-reviews {
    margin-top: 16px;
    padding: 10px;
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }

  main > .intro > .rating-reviews > .rating {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  main > .intro > .rating-reviews > .rating > img {
    width: 106px;
    height: 17px;
  }

  main > .intro > .rating-reviews > .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
  }

  main > .intro > .rating-reviews > .reviews > img {
    width: 20px;
    height: 20px;
  }

  main > .intro > .discount {
    margin-top: 25px;
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
  }

  main > .intro > .discount p:first-child {
    font-size: 43px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
  }

  main > .intro > .discount p:last-child {
    font-size: 1.8rem;
    text-decoration: line-through;
    text-decoration-color: red;
    font-size: 27px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
  }

  main > .intro > img {
    margin-top: 60px;
    width: 100%;
  }

  main > .intro > .partners {
    margin-top: 30px;
    display: flex;
    gap: 4px;
  }

  main > .intro > .partners img:first-child {
    width: 91px;
  }

  main > .carousel {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    margin: 0 24px;
  }

  main > .carousel > img {
    width: 100%;
  }

  main > .about {
    margin: 24px 24px;
  }

  main > .about > h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
  }

  main > .about > .red-text {
    color: red;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    margin: 20px 0 10px;
  }

  main > .about > .line {
    border: 5px solid #ebeae8;
    border-radius: 8px;
  }

  main > .about > .thumb {
    border: 5px solid red;
    border-radius: 8px;
    width: 120px;
    position: relative;
    bottom: 10px;
  }

  main > .about > .sale {
    text-align: center;
    padding: 8px 50px;
    background-color: #f5f5f6;
    border-radius: 1000px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }

  main > .about > .sale > span {
    color: #b15fff;
    font-weight: 600;
  }

  main > .about > .discount > span:first-child {
    text-decoration: line-through;
    text-decoration-color: red;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }

  main > .about > .discount > span:last-child {
    color: red;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }

  main > .about > .afterpay {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
  }

  main > .about > .afterpay > p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  main > .about > .button {
    margin: 16px 0;
    display: flex;
    justify-content: center;
  }

  main > .about > .button > button {
    background-color: #b0fde4;
    padding: 14px 50px;
    width: 100%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
  }

  main > .about > .free {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
  }

  main > .about > .free > img:first-child {
    transform: rotate(90deg);
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }

  main > .about > .free > img:last-child {
    transform: rotate(270deg);
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }

  main > .about > div > .firms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }

  main > .about > div > .firms > img {
    width: 74px;
    height: 23px;
  }

  main > .about > div > .firms > img:last-child {
    width: 29px;
    height: 35px;
  }

  footer {
    padding: 16px 24px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  footer > button {
    background-color: white;
    color: black;
    padding: 6px 18px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }

  footer > p.collapsed {
    max-height: 4em;
    overflow: hidden;
  }

  footer > p {
    transition: max-height 0.3s ease;
  }

  .card {
    padding: 20px 16px;
    border: 2px solid #b0fde4;
    background-color: white;
    position: absolute;
    display: none;
    z-index: 999;
    width: 90%;
    border-radius: 12px;

    animation-name: slideCard;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    box-shadow: 15px 15px 50px black;
  }

  @keyframes slideCard {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .card > .head {
    display: flex;
    justify-content: space-between;
  }

  .card > .head > img {
    height: 19px;
  }

  .card > .head > img:last-child {
    cursor: pointer;
  }

  .card > h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
  }

  .card > .content {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
  }

  .card > .content > .head {
    display: flex;
    justify-content: space-between;
  }

  .card > .content > .head > p:first-child {
    font-weight: bold;
  }

  .card > .content > .head > p:last-child {
    font-weight: bold;
    padding: 6px 14px;
    border-radius: 20px;
    background-color: #b0fde4;
  }

  .card > .content > .main {
    color: #545454;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .card > hr {
    border: 1px dotted black;
    margin-top: 20px;
  }

  .card > .content > .main > div > .title {
    font-weight: bold;
  }

  .card > .button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .card > .button > button {
    border-radius: 10px;
    border: none;
    background-color: #b0fde4;
    padding: 12px 75px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
  }
}
